#header{
    background-color:rgba(35, 35, 173, 0.774) ;
    margin: 50px 0px 50px 0px;
    font-family: "Hubballi", sans-serif;
    text-transform: uppercase;
    
}

#nameAndTitle{
    text-align: center;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    
}

.titleAlight{
    margin: 0;
}

#contact{
list-style-type: none;

}

#contact i {
    width: 30px;
    color: rgba(35, 35, 173, 0.774) ;
}

#container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}

#sidebar, #content{
display: flex;
flex-direction: column;
row-gap: 20px;

}

.card h3{

    font-family: "Hubballi", sans-serif;
}

.card{

    font-family: "Montserrat", sans-serif;
    border: 1px solid rgba(35, 35, 173, 0.774) ;
    border-radius: 15px;
    padding: 20px;
}